<body>
    <div class="ui_dialog_lock" style="display: none;"></div>
<header>
    <mat-toolbar color="primary">
        <div class="links">
        <a class="nav" href="">EXO-L</a>

    </div>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>menu</mat-icon>
      </button>
      <span> EXO-L</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    


  </header> 
</body>